/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  --aliceBlue: #ecf5ff;
  --dodgerBlue: #007bff;
  --midBlue: #1c4fc3;
  --cobalt: #004a99;
  --darkCerulean: #00458f;
  --darkBlue: #00366f;
  --white: #f3f6fa;
  --grey: #ddd;
  --Lato: 'Lato', sans-serif;
  --Roboto: 'Lato', sans-serif;
  --Heebo: 'Heebo', sans-serif;
  --transition: all 0.6s ease;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--Lato);
  line-height: 1.5;
}

/* COMMON STYLING & UTILITY CLASSES */
h1, h2, h3, h4, h5, h6, p{
  margin: 0.5rem 0;
}
a{
  color: #000;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
img{
  width: 100%;
  display: block;
}
.lead{
  padding: 0.3rem 0;
  opacity: 0.8;
  font-size: 1.05rem;
}
.title{
  text-align: center;
  font-family: var(--Heebo);
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.display-text{
  font-size: 1.5rem;
  font-family: var(--Lato);
  font-weight: 900;
  padding: 0.6rem 0;
  line-height: 1.4!important;
}
.heading{
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.4rem 0;
  cursor: pointer;
  transition: var(--transition);
}
.heading:hover{
  color: var(--midBlue);
  padding-left: 0.9rem;
}
.btn{
  display: inline-block;
  margin: 0.5rem 0;
  background-color: var(--dodgerBlue);
  border: none;
  color: var(--white);
  padding: 0.8rem 1.4rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  transition: var(--transition);
}
.btn:hover{
  background-color: var(--midBlue);
}
.container{
  max-width: 90%;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-content .lead{
  width: 80%;
  margin: 1.7rem auto;
  text-align: center;
}

/* navbar */
.navbar{
  background: #fff;
  padding: 1.3rem 0;
}
.brand-and-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-name span{
  color: var(--darkCerulean);
}
.brand-name span i{
  padding-right: 6px;
  font-size: 2.2rem;
  color: var(--dodgerBlue);
}
.brand-name{
  font-size: 2rem;
}
.nav-toggler{
  font-size: 1.8rem;
  color: var(--darkCerulean);
  cursor: pointer;
}
.nav-toggler:hover{
  opacity: 0.8;
}
.navbar-collapse{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  background: rgba(19, 40, 63, 0.9);
  transform: translateX(-300px);
  transition: transform 0.6s ease;
}

/* js related */
.show-nav{
  transform: translateX(0);
}
/*********************/
/* navbar nav */
.navbar-nav{
  margin: 2rem 0 0 1.5rem;
}
.navbar-nav li{
  margin: 1.3rem 0;
}
.navbar-nav li a{
  color: #fff;
  font-size: 1.1rem!important;
}
.navbar-nav li ul{
  display: none;
}
.navbar-nav li ul{
  margin-bottom: -5px!important;
}
.navbar-nav li:hover ul{
  display: block;
}
.navbar-nav li:hover a{
  color: var(--dodgerBlue);
}
.navbar-nav li:hover ul li a{
  color: #fff!important;
}
.navbar-nav li ul li:hover a{
  color: var(--dodgerBlue)!important;
}

/* JS related */
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#cancel-btn{
  position: absolute;
  font-size: 1.8rem;
  right: 2.5rem;
  top: 1.4rem;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
#cancel-btn:hover{
  opacity: 0.9;
}

/* header */
.header{
  margin-top: 90px;
  background-color: #1c4fc3;background-image: linear-gradient(160deg, #1c4fc3 0%, #000044 100%);
  height: 700px!important;
  display: flex;
  align-items: center;
}
.header-content{
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}
.banner-image img{
  width: 350px;
  margin: 0 auto;
}
.banner-text{
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: var(--white);
}
.banner-text p{
  display: none;
}
.banner-text h1 span{
  color: white;
  text-decoration: underline;
}
.banner-text button{
  margin: 0.6rem;
  border: 1.5px solid transparent;
}
.banner-text button:last-of-type{
  border: 1.5px solid #fff;
}
.banner-text button:first-of-type:hover{
  border-color: #fff;
}
.banner-text button:last-of-type:hover{
  border-color: transparent;
}


/* about us */
#about-us{
  margin: 2.5rem 0;
  overflow: hidden;
}
.about-content{
  margin: 2rem 0;
}
.about-item span{
  display: block;
  border: 2px solid var(--dodgerBlue);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.about-item span i{
  font-size: 2rem;
  display: block;
  color: var(--dodgerBlue);
  transition: var(--transition);
}
.about-item span:hover{
  background: var(--dodgerBlue);
}
.about-item span:hover i{
  color: #fff;
}
.about-item{
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  grid-gap: 1.5rem;
}
.about-right{
  width: 60%;
  margin: 0 auto;
}

/* services */
#services1{
  background: var(--aliceBlue);
}
.services-content{
  padding: 2.5rem 0;
}
.services-list{
  margin: 3rem 0;
}
.service-item{
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1.5rem 0;
  -webkit-box-shadow: 0px 0px 30px -5px rgba(232,225,232,1);-moz-box-shadow: 0px 0px 30px -5px rgba(232,225,232,1);box-shadow: 0px 0px 30px -5px rgba(232,225,232,1);
  display: flex;
  align-items: center;
  transition: var(--transition);
}
.service-item span{
  display: block;
  margin-right: 1.4rem;
}
.service-item span i{
  font-size: 3rem;
}
.service-item:nth-child(odd) span i{
  color: #4ddacb;
}
.service-item:nth-child(even) span i{
  color: #ff72a2;
}
.service-item:hover{
  transform: translateY(-10px);
}
#services2{
  background: var(--cobalt);
  color: #fff;
}
.service-type-list{
  padding: 1rem 0;
}
.service-type{
  background: var(--darkCerulean);
  margin: 1rem;
  text-align: center;
  padding: 2rem;
  border-radius: 0.6rem;
}
.service-type:hover{
  background: var(--darkBlue);
}
.service-type i{
  font-size: 3rem;
}
.service-type a{
  color: #fff;
  font-weight: bold;
}
.service-type a:hover{
  text-decoration: underline;
}
.service-data{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding: 1.5rem 0;
}
.service-data-item span{
  font-weight: var(--Heebo);
  font-size: 3rem;
  font-weight: 900;
}

/* testimonials */
#testimonials{
  background: var(--aliceBlue);
  padding: 2.5rem 0;
  overflow: hidden;
}
.testimonials-item{
  display: flex!important;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}
.test-img{
  margin-right: 1.5rem;
  position: relative;
}
.test-img:before{
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  transform: scale(1.05);
}
.test-img img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.testimonials-item p{
  font-style: italic;
}

/* team */
#team{
  margin: 2.5rem 0;
}
.team-wrapper{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 2.5rem auto;
}
.team-wrapper img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.team-wrapper div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:rgba(0, 69, 143, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.team-wrapper:hover div{
  display: block;
  opacity: 1;
}
.team-wrapper h3{
  margin-bottom: 0;
}
.social-icons{
  display: flex;
}
.social-icons li{
  padding: 0 5px;
  cursor: pointer;
  font-size: 1.5rem;
}
.social-icons li:hover{
  color: var(--dodgerBlue);
}

/* clients */
#clients{
  background: var(--aliceBlue);
  margin: 2.5rem 0;
  padding: 2.5rem 0;
}
.client-gallery{
  background: #fff;
  overflow: hidden;
}
.client-gallery div{
  border: 1px solid var(--white);
  height: 180px;
}
.client-gallery img{
  width: 130px;
  transition: var(--transition);
}
.client-gallery img:hover{
  transform: scale(1.2);
}

/* contact us */
.contact-content{
  padding: 1rem;
}
.contact-wrapper{
  padding: 1.5rem 0;
}
.contact-form{
  padding: 1.5rem 0;
}
.contact-info div{
  display: grid;
  grid-template-columns: 2rem auto;
  margin: 1.2rem 0;
  align-items: center;
}
.contact-info div span:first-child{
  color: var(--dodgerBlue);
  font-size: 1.4rem;
}
.contact-info div span:last-child{
  opacity: 0.8;
}
.main-form input, .main-form textarea{
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.6rem;
  border: 1px solid #ced4da;
  border-radius: 2px;
  margin: 0.5rem 0;
  outline: none;
}
.main-form input:focus, .main-form textarea:focus{
  border-color: var(--dodgerBlue);
}

/* footer */
.footer{
  background: var(--cobalt);
  color: #fff;
}
.footer-content{
  padding: 2.5rem 0;
}
.footer-content div{
  margin: 1.5rem 0;
}
.footer-content .heading:hover{
  padding-left: 0;
  color: #fff;
  cursor: default;
}
.footer-div1 .title{
  text-align: left;
}
.footer-div2 a{
  display: block;
  color: #fff;
  opacity: 0.9;
  padding: 0.4rem 0;
}
.footer-div3 span{
  line-height: 2;
  opacity: 0.9;
}
.footer-div3 .social-icons{
  margin: 1rem 0;
}
.footer-div3 .social-icons li{
  background:var(--dodgerBlue);
  margin: 0.3rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transition: var(--transition);
}
.footer-div3 .social-icons li:hover{
  background: var(--midBlue);
  color: #fff;
}
.footer-div4 input{
  width: 100%;
  padding: 0.6rem;
  outline: none;
  font-size: 1rem;
  border: none;
}
.footer-div4 button{
  width: 140px;
  background: var(--dodgerBlue);
  color: #fff;
  padding: 0.8rem 0;
  margin: 1rem 0;
  border: none;
  font-size: 1rem;
  transition: var(--transition);
  cursor: pointer;
}
.footer-div4 button:hover{
  background: var(--midBlue);
}


/* Media Queries */

@media screen and (min-width: 678px)
{
  /* header */
  .header{
    height: 90vh;
  }
  .banner-text{
    font-size: 1.5rem;
  }
  .banner-image img{
    width: 450px;
  }
  /* team */
  .team-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .team-wrapper, .team-wrapper img{
    width: 220px;
    height: 220px;
  }
}

@media screen and (min-width: 768px){
  /* services */
  .services-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.4rem;
  }
  /* testimonials */
  .testimonials-item{
    flex-direction: row;
    text-align: left;
  }
  /* client gallery */
  .client-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer */
  .footer-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 992px){
  /* common styling */
  .title-content .lead{
    width: 600px;
  }
  /* navbar and menu */
  .navbar{
    padding: 0;
  }
  .navbar .container{
    display: flex;
    justify-content: space-between;
  }
  .navbar-collapse{
    position: relative;
    background: none;
    width: auto;
    transform: translateX(0)!important;
  }
  .navbar-nav{
    margin: 0
  }
  .nav-toggler{
    display: none;
  }
  .navbar-nav{
    align-self: center;
    display: flex;
  }
  .navbar-nav li{
    padding: 0.6rem 2rem 0.6rem 0;
    cursor: pointer;
  }
  .navbar-nav li:last-child{
    padding-right: 0;
  }
  .navbar-nav li a, .navbar-nav li i{
    color: var(--darkCerulean);
  }
  .navbar-nav li:hover a, .navbar-nav li:hover i{
    color: var(--dodgerBlue);
  }
  .navbar-nav li:hover ul li a{
    color: #252525!important;
  }
  .navbar-nav li{
    position: relative;
  }
  .navbar-nav li ul{
    display: none;
    background: #fff;
    box-shadow: 0 0 5px var(--white);
    border-radius: 0.3rem;
  }
  .navbar-nav li ul li{
    margin: 0;
    padding: 0.3rem 1rem;
  }
  .navbar-nav li:hover ul{
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
  }
  .navbar-nav li ul li:hover a{
    color: var(--dodgerBlue)!important;
  }
  #cancel-btn{
    display: none;
  }
  /* header */
  .header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-text{
    text-align: left;
  }
  .banner-text p{
    display: block;
  }
  .banner-text button:first-of-type{
    margin-left: 0;
  }
  /* about us */
  .about-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  #about-1 .about-right{
    order: 2;
  }
  .about-right{
    width: 90%;
  }
  /* services */
  .services-list{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .service-type-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* team */
  .team-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
  }
  /* contact */
  .contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
  }
  .contact-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-info div{
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px){
  /* header */
  .banner-text{
    font-size: 1.8rem;
  }
  .banner-image img{
    width: 650px;
  }
  /* about us */
  .about-right{
    width: 70%;
  }
  /* services */
  .service-type-list{
    grid-column-gap: 3rem;
  }
  .service-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  /* testimonials */
  .testimonials-content{
    width: 80%;
    margin: 0 auto;
  }
  /* client gallery */
  .client-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* footer */
  .footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
  }
}

/* resizing styling */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* mobile responsiveness (extra small) */
@media screen and (max-width: 450px){
  /* header */
  .header{
    height: 500px!important;
  }
  .banner-text h1{
    font-size: 1.4rem;
  }
  .banner-image img{
    width: 200px;
  }
}

